.bg-gradient-primary{
    background-color: #4e73df;
    background-image: linear-gradient(270deg, #4e73df 10%, #224abe 90%);
    background-size: cover;//백그라운드 요소에 패딩 마진값을 포함하는 방법
    background-repeat: no-repeat !important;
}
.bg-register-image {
    background: url('http://localhost:5173/img/lee.png');    
    background-position: center;
    background-size: cover;
}
.bg-password-image{
    background: url('http://localhost:5173/img/new.png');    
    background-position: center;
    background-size: cover;
}
.bg-login-image{
    background: url('http://localhost:5173/img/new.png');    
    background-position: center;
    background-size: cover;
}
