@use "./reset";
@use"./bg" as bg;
@use "./margin" as mg;

html{
    body{
        .o-hidden{overflow: hidden !important;}
        .d-none{display:none;}
        .text-gray-900{color:#3a3b45 !important;}
        form.user{
                
                .form-control-user{
                font-size:.8rem !important;
                border-radius: 10rem !important ;
                padding:.75rem 1rem !important;
                }
                .btn-user{
                    font-size: .8rem; 
                    border-radius: 10rem;
                    padding:.75rem 1rem;
                }
                .btn-block{
                display:block; width:100%;
                }
                .btn-google{
                color:#fff; background-color: #ea4335 !important; 

                }
                .btn-facebook{
                color:#fff; background-color: #3b5998 !important;
                }
            }
        }
    }

    .form-group{margin-bottom:1rem !important;}



