.paid-wrap{
    width:100%;
    padding:0px 20px;
    .paid-top{
        padding:10px 0px;
        border-bottom: 1px solid #f3f3f3;
        width:100%;
        display:flex; align-items: center; justify-content: center;
        div.left{
            width:80%;
            h3{
                font-weight:600; 
                font-size:17px; 
                line-height: 24px; 
                letter-spacing: -2%;
            }

        }
        div.right{
            width:20%;
            button{
                width:64px !important;
                height:32px !important;
                padding:10px 12px !important;
                border:1px solid #e7e7e7;
                font-weight: 500 !important;
                font-size:13px !important;
                line-height: 22px !important; 
                color:#525252 !important;
                display:flex !important;
                justify-content: center !important;
                align-items: center !important;
            }
        }
    }
    .paid-msg{
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%; padding:12px 16px; margin:10px 0px;
        background-color: #f0f8f8; 
        border:1px solid #7ed4d2;
        border-radius: 16px;
        font-weight:600; font-size:14px; line-height: 22px; 
        letter-spacing: -2%;
        color:#48b2af;
        img{
            width:12px; height: 17px;
            margin-right: 5px;
        }
    }
    .paid-price{
        display: flex; justify-content: space-between;
        align-items: flex-start;
        div.left{
        width:24%; height: 54px; 
            img{width:100%; border-radius: 10px;}
        }
        div.right{
            margin-left: 12px;
            width:76%;
            h1{font-weight:500; font-size: 15px; 
                line-height: 23.5px; letter-spacing: -2%; color:#000; margin-bottom: 0px !important;}
            h3{font-weight: 400; 
                font-size: 13px; line-height: 22px; 
                color:#999; margin-bottom: 0px !important;
            text-decoration: line-through;
            }
            h1.txt{
                color:#48b2af; font-size:11px; line-height: 12px; font-weight: 500; margin-bottom: 0px !important;
                span{
                font-size: 16px !important; line-height: 25px !important; letter-spacing: -2%;
                }
            }

        }
    }
    .paid-pay{
    width:100%; height:143px; margin:16px 0px;
        h3{
        font-weight:600; font-size:17px; line-height:24px; letter-spacing: -2%;  
        }
    }
}
.total{
    .left{font-weight:700; font-size:17px; 
        line-height: 24px; letter-spacing: -2%;}
    .right{color:#48b2af; font-weight:700; font-size: 18px;
    line-height: 24px; letter-spacing: -2%;
    }
}

.pay{
    padding:5px 0px;
    .left{font-weight:400; font-size:15px; line-height: 23.5px; letter-spacing: -2%;}
    .right{font-weight:600; font-size:16px; line-height: 25px; letter-spacing: -2%;}
}

.payment-wrap{
margin:40px 0 30px;
width:100%; height:176px; padding:0px 20px;  
    h3{
        font-weight:600; font-size: 17px; line-height: 24px;
        letter-spacing: -2%;
    }  
}

.dc-btn-wrap{
height: 124px;
display: flex;
flex-direction: column;
gap:10px;
}

.paid-info{
    padding:0px 20px;
    h3{font-weight:400; font-size: 14px; 
        line-height: 22px; letter-spacing: -3%; color:#525252; margin-bottom: 0px !important;}
    h4{font-weight:400; font-size: 13px; 
        line-height: 19px; letter-spacing: -2%; color:#525252; margin-bottom: 0px !important;}
    hr{margin:10px 0px;}
    .paid-info-txt{
        display: flex; justify-content: space-between;
        .left, .right{font-size: 13px; line-height: 19px; letter-spacing: -2%; color:#6d6d6d;}
        .left{width:5%;}
        .right{width:95%;}
 
    }
}

.footer-btn-wrap{
margin:76px 0px 0px
}

/*상세페이지*/
.detail-header{
    box-sizing: border-box !important;
    position: fixed; top:0;
    background-color: white;
    width:375px !important; padding:0px 20px;
    max-width:100%;
    //height:100%;
    header{
    background-color: white;
    width:100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 52px;
        a{text-decoration:none; color:inherit; font-size:24px; color:#848484; margin-bottom:3px;}
h3{font-weight:600; font-size:18px; line-height: 25.5px; 
    letter-spacing: -1px; margin-bottom: 0px !important;
text-indent:10px;
}
        div{
            width:44px; height:44px; display:flex; justify-content: center; align-items: center;
            img{width:24px; height:24px;}
        }
    }

}

.detail-img-wrap{
width:100%;
height: 256px; 
img{
width:100%;    
}
}

.boon{
width:20px !important; height:17px !important;
}

.paid-msg-inner{
font-weight: 500; font-size:14px; line-height: 22px; 
letter-spacing: -3%; color:#000 !important;
margin-bottom: 0px !important;
    span{
        font-weight: 700 !important;
        color: #48b2af !important;
    }
}
.detail-text-wrap{
h3{font-weight:600; font-size: 17px; line-height: 24px; letter-spacing: -2%; 
color:#000;
}
p{font-weight: 400; font-size: 16px; line-height: 28.5px; letter-spacing: -2%;
color:#151515;
}
}
.h54{
height:54px; 
}
.detail-btn-wrap{
margin:40px 0px 30px;
}
/*상세페이지 끝*/