.out-wrap{
    padding:10px 20px;
    .out{
width:100%;
background-color: #ccc;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
h5{font-size: 15px;}
p{font-size:14px;}
    }
}
.out-agree{
    input{margin-right: 10px;}
    p{margin-bottom: 0px !important;}
}

.out-btn-wrap{
padding:10px 20px;
}